/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the search container */
.search-container {
    display: flex;
    justify-content: left;
    width: 300px;
    border-bottom: 1px solid #fff; /* White line under the input field */
}

/* Style the search icon */
.search-icon img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Style the search text */
.search-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Style the search input */
#search-input {
    width: 53%;
    border: none;
    outline: none;
    padding: 0; /* Remove padding to hide cursor */
    font-size: 16px;
    background-color: transparent; /* Remove input background */
    color: #333; /* Text color */
    border-bottom: 0.5px solid #333; /* Add a border under the input */
}
